<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143112920577-vr94dptd96j9i5snn0o13isqigo0d1es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143112920577-vr94dptd96j9i5snn0o13isqigo0d1es</string>
	<key>API_KEY</key>
	<string>AIzaSyA2yqIcd6KK55sB4F_7j_SHi4uqHH6XM94</string>
	<key>GCM_SENDER_ID</key>
	<string>143112920577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myapps.HealthAppStoryBoard1</string>
	<key>PROJECT_ID</key>
	<string>healthycompetition-badb6</string>
	<key>STORAGE_BUCKET</key>
	<string>healthycompetition-badb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143112920577:ios:dfed8bbefe68c8bf</string>
	<key>DATABASE_URL</key>
	<string>https://healthycompetition-badb6.firebaseio.com</string>
</dict>
</plist>